.ewd-slider-section .slider .ewd-slide img {
  position: relative !important;
  height: auto;
}
#color {
  color: red !important;
}

.side-menu > ul {
  margin: 0;
  padding: 0;
  width: 90px;
  text-align: center;
}

.side-menu > ul > li {
  list-style: none;
  padding: 8px 0;

  height: 12.5vh;
  text-align: center !important;
}

.side-menu > ul > li > a {
  display: block;
  font-size: 13px;
  line-height: 1.1em;
  padding: 10px 0;
  color: #000;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0px !important;
  text-align: center !important;
}

#menu-s {
  margin-left: 20px;
}
#menu-z {
  margin-left: 30px;
}

.side-menu > ul > li a {
  background-color: none !important;
}

li.active {
  background: none !important;
  filter: invert(100%);
}




@media (max-width: 600px) {
  header#header {
    width: 100%;
  }
}
